@font-face {
    font-family: start;
    src: url(/fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

body{
    margin: 0px;
    background-image: url(/img/bgimg.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}
#box1{
    border: 1px solid;
    border-color: black;
    height: 54px;
    width: 100%;
    margin-top: 53px;
    background-color: greenyellow;
    position: sticky;
    top: 0px;
}
.a{
    padding: 12px 57px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0px -2px;
    font-size: 22px;

}

.a:hover{
    background-color: yellowgreen;
    color: white;
    border-bottom: 6px double;
    border-color: black;
}
#boxh{
    float: left;
    border-left: 2px solid;
    border-right:1px solid;
    background-color: greenyellow;
    text-align: center;
    height: 31px;
    padding-top: 11px;
    padding-bottom: 12px;
    width: 144.433px;
}
#boxab{

    float: left;
    border-left: 1px solid;
    border-right:1px solid;
    background-color: greenyellow;
    text-align: center;
    height: 31px;
    padding-top: 11px;
    padding-bottom: 12px;
    width: 144.433px;
}
#boxmb{

    float: left;
    border-left: 1px solid;
    border-right:1px solid;
    background-color: greenyellow;
    text-align: center;
    height: 31px;
    padding-top: 11px;
    padding-bottom: 12px;
    width: 135.433px;
}


#boxc{

    float: left;
    border-left: 1px solid;
    border-right:2px solid;
    background-color: greenyellow;
    text-align: center;
    height: 31px;
    padding-top: 11px;
    padding-bottom: 12px;
    width: 140.433px;
  }

#box4{
    text-align: left;
    margin-top:16px ;
    background-color : greenyellow;
    display: none;
    width: 140px;
    border-radius: 0px 0px 5px 5px;
    
}
ul {
    padding: 0px;
    list-style: none;
    text-align: left;
    margin: 2px;
}
ul li{
    padding: 2px;
}
#boxc:hover #box4{
    display: block;
}
#ab{
    padding: 12px 27px;
}
/* #boxmenu{
    border: 1px solid;
    height: 50px;
    width: 2253.732px;
    background-color: aqua;
} */
#drd{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0px -2px;
    font-size: 22px;
}
#drd:hover{
    background-color: yellowgreen;
    border-radius: 0px 0px 5px 5px;
}
h3{
    font-family: start, sans-serif;
    text-align: center;
}
#boxmenu{
    width: 575px;
    height: 54px;
    position: absolute;
    left: 30%;
}